*{
	margin:0;
	padding:0;
}
li{
	list-style: none;
}
.box{
	position:relative;
	overflow: hidden;
	padding: 0;
}
.custom-info {
    border-bottom: 1px solid #e8e8e8;
    height: 43px;
    line-height: 43px;
    padding: 0 15px;
    color: #555;
    font-size: 0.14rem;
    position: relative;
}
.custom-info .info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-right: 100px;
    height: 100%;
    position: relative;
    text-align: left;
}
.custom-info .go {
    position: absolute;
    right: 15px;
    top: 0;
    display: block;
    float: right;
    background-color: #f1f1f1;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    margin-top: 6px;
    color: #00b38a;
    border-radius: 15px;
}
.custom-info .icon {
    width: 10px;
    height: 20px;
    background: url(/images/mobile/asset/common/img/icon.png) no-repeat -88px 7px;
    background-size: 250px 250px;
}
.custom-info .text {
    font-style: normal;
   color: #00b38a;
}
.custom-info .goedit{
	font-style: normal;
   color: #00b38a;
}

.item-logo{
	width: 60px;
	height: 60px;
	display: inline-block;
    float: left;
}
.item-desc {
    margin-left: 70px;
    height: 62px;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.list-item {
    padding: 14px;
    border-bottom: 1px solid #e8e8e8;
}
.item-title{
    font-size: 0.16rem;
    width: 70%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}
.item-info {
    margin-bottom: 6px;
    width: 100%;
    height: 15px;
    line-height: 15px;
}
.item-pos {
    font-size: 0.12rem;
    float: left;
    width: 60%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}
.item-salary {
    font-size: 0.16rem;
    color: #00b38a;
    float: right;
}
.item-time {
	margin: 0;
	height: 0.1rem;
    font-size: 0.1rem;
    color: #888;
}
.list-more {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 0.15rem;
    background-color: #fafafa;
}
.list-more2 {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 0.15rem;
    background-color: #ccc;
}
#copyright {
    text-align:center;
    font-size: 0.1rem;
    margin-top: 30px;
    padding-bottom: 40px;
    color: #333;
    margin-bottom: 0.5rem;
}
#copyright .copyright-item span.phone {
    color: #999;
}
#copyright a{
    color: #333;
    text-decoration: none;
}
.hide{
	display: none;
}
