body,html,#root{
	width: 100%;
	height: 100%;
	font-size: 0.16rem;
	
}
.hide{
	display: none;
}
.registerBox{
	background: -webkit-linear-gradient(135deg,#029253,#00887b);
	width: 100%;
	height: 100%;
	font: 400 62.5% "黑体",Arial;
	margin: 0;
	padding: 0;
}
.wrap{
	width: 90%;
    padding: 20px 0;
    margin: 0 auto;
}
.wrapTop .input_tips1{
    position: absolute;
    right: 6%;
    top: 9%;
    font-size: 0.12rem;
    color: #f94e4e;
    line-height: 0.12rem;
}
.wrapTop{
	position: relative;
}
.wrapTop input{
	width: 90%;
    border: 0;
    outline: 0;
    font: 1.6em "黑体";
    color: #333;
    background: #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0.05rem;
    padding: 6% 5%;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}
.wrapTop .code{
    margin: 10px 0;
}
.wrapTop .phCode{
	margin-bottom: 10px;
}
.wrapTop img{
	display: block;
    margin: 0 0 20px;
    overflow: hidden;
    float: left;
    line-height: 42px;
}
.wrapTop a{
	display: inline-block;
    margin-left: 16px;
    margin-top: 15px;
    font-size: 0.14rem;
    color: #45e3be;
    text-decoration: none;
}
.wrapTop a em{
	text-decoration:underline;
}

.msg,.passwordBox{
	position: relative;
}
#get{
	position: absolute;
    width: 56px;
    right: 5%;
    bottom: 27%;
    font-size: 1.4em;
    padding: .25em .5em;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #ccc;
    line-height: 1;
}
.pwd{
	width: 90%;
    border: 0;
    outline: 0;
    font: 0.16rem "黑体";
    color: #333;
    background: #fff;
    border-radius: 0.05rem;
    padding: 6% 5%;
    margin: 10px 0;
}
.passwordBox .input_tips2{
    position: absolute;
    right: 15%;
    top: 44%;
    font-size: 0.12rem;
    color: #f94e4e;
    line-height: 0.12rem;
}
.eye1{
	width: 20px;
    height: 13px;
    background: url(//img.lagou.com/passport/static/mobile/modules/common/img/psweye_930f545.png) 0 0 no-repeat;
    background-size: 20px 30px;
    position: absolute;
    bottom: 39%;
    right: 5%;
    -moz-transition: transform .3s linear 0s;
    -webkit-transition: transform .3s linear 0s;
    -o-transition: transform .3s linear 0s;
    transition: transform .3s linear 0s;
}
.openEye1{
	width: 20px;
    height: 13px;
    background: url(//img.lagou.com/passport/static/mobile/modules/common/img/psweye_930f545.png) 0 -16px no-repeat;
    background-size: 20px 30px;
    position: absolute;
    bottom: 39%;
    right: 5%;
    -moz-transition: transform .3s linear 0s;
    -webkit-transition: transform .3s linear 0s;
    -o-transition: transform .3s linear 0s;
    transition: transform .3s linear 0s;
}
.submit{
	display: block;
    width: 90%;
    height: 0.2rem;
    font-size: 2em;
    color: #fff;
    text-align: center;
    background: #0ac599;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 20px 0;
    padding: 5%;
    border: none;
}
.qus{
	color: #45e3be;
    font-size: 1.1em;
    line-height: 1.1;
    text-align: left;
}
.qus a{
	color: #9bffd3;
    text-decoration: underline;
}
.login{
	display: block;
    width: 90%;
    height: 0.3rem;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 0.3rem;
    border: 1px solid #45e3be;
    border-radius: 5px;
    margin: 8px 0;
    padding: 3% 5%;
}
/*.register, .pwd {
    position: relative;
}
.register input, .pwd input {
    width: 90%;
    border: 0;
    outline: 0;
    font: 1.6em "黑体";
    color: #333;
    background: #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 6% 5%;
    margin: 0;
}
.regis>div, .pwd>div {
    position: relative;
}
#vcodeWrap {
    position: relative;
}
#vcode {
    width: 90%;
    border: 0;
    outline: 0;
    font: 1.6em "黑体";
    color: #333;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 6% 5%;
    margin: 10px 0;
}
#vcodeWrap img {
    display: block;
    margin: 0 0 20px;
    overflow: hidden;
    float: left;
    line-height: 42px;
}
#vcodeWrap a {
    margin-left: 20px;
    font-size: 1.4em;
    color: #45e3be;
    text-decoration: none;
}
#vcodeWrap a em {
    color: #9bffd3;
    font-style: normal;
    line-height: 42px;
    cursor: pointer;
    text-decoration: underline;
}
#vcode {
    width: 90%;
    border: 0;
    outline: 0;
    font: 1.6em "黑体";
    color: #333;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 6% 5%;
    margin: 10px 0;
}
.regis .btn{
    border-color: #ccc;
    color: #ccc;
}
.pwd input {
    margin: 10px 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.pwd .eye {
    bottom: 40%;
    width: 20px;
    height: 13px;
    background: url(//img.lagou.com/passport/static/mobile/modules/common/img/psweye_930f545.png) 0 0 no-repeat;
    background-size: 20px 30px;
    position: absolute;
    bottom: 33%;
    right: 5%;
    -moz-transition: transform .3s linear 0s;
    -webkit-transition: transform .3s linear 0s;
    -o-transition: transform .3s linear 0s;
    transition: transform .3s linear 0s;
}

.login{
    display: block;
    width: 100%;
    font-size: 2em;
    color: #fff;
    text-align: center;
    background: #0ac599;
    -webkit-box-shadow: 0 2px 0 #008765;
    -moz-box-shadow: 0 2px 0 #008765;
    box-shadow: 0 2px 0 #008765;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 20px 0;
    padding: 5%;
}
.regis_text {
    color: #45e3be;
    font-size: 1.3em;
    line-height: 1.3;
}
.btn_green_border {
    display: block;
    width: 90%;
    font-size: 2em;
    color: #45e3be;
    text-decoration: none;
    text-align: center;
    border: 1px solid #45e3be;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 8px 0;
    padding: 5%;
}
.regis_text a {
    color: #9bffd3;
    text-decoration: underline;
}
.new_regis .r_getVcode {
    position: absolute;
    width: 53px;
    right: 5%;
    bottom: 34%;
    font-size: 1.6em;
    padding: .25em .5em;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #ccc;
    line-height: 1;
}*/