*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
.userbox {
	margin-top:0.15rem ;
    margin-bottom: 0.45rem;
    padding: 0 15px;
    font-size: 0.16rem;
    position:relative;
	overflow: hidden;
}
.logininfo {
    margin: 0.1rem 0;
}
.nologin {
    height: 1.11rem;
}
.userlogin img{
	width:0.72rem;
	height: 0.72rem;
	border-radius: 1rem;
}
.userlogin h3{
	font-weight: 100;
	font-size: 0.14rem;
}
.center {
    text-align: center;
    width: 1.25rem;
    margin: 0 auto;
}
.hide{
	display:none;
}

.nologin .loginbut {
    font-size: 0.14rem;
    color: #fff;
    display: block;
    width: 100%;
    height: 0.45rem;
    line-height: 0.45rem;
    text-align: center;
    margin: 0 auto;
    background-color: #1fc8a1;
    position: relative;
    top: 0.33rem;
}

.buttons {
    margin-bottom: 10px;
    overflow: hidden;
}

.buttons .button {
    display: block;
    width: 48%;
    height: 0.86rem;
    line-height: 0.86rem;
    background-color: #1fc8a1;
    text-align: center;
    color: #fff;
    font-size: 0.16rem;
    margin-top: 0.10rem;
    position: relative;
}
.buttons .deliver,.buttons .invitation{
    float: left;
}
.buttons .interview,.buttons .collect{
    float: right;
}

.quit{
	width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    background-color: #1fc8a1;
    color: #fff;
    font-size: 0.16rem;
}
